/* ABOUT
-------------------------------------------------*/
.about {

  @extend %space;
  .media {
    margin-bottom: $space;
  }

  .media-left {
    .boxed-icon {
      width: 1.3rem;
      height: 1.3rem;
      padding: 0;
      border: none;
      .icon {
        outline: solid 1px $colorPrimary;
        font-size: 1rem;
      }
    }

    .img {
      padding: 0;
      margin-top: -1px;
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  a {
    text-decoration: underline;
  }

}