/* 3 SHADE COLUMNS
-------------------------------------------------*/
.contact {
  @extend %space;
  background: $colorPrimary;

  .three-shade-col {
    @extend %clearfix;
    @extend %align-center;
    display: block;
    @include breakpoint(small) {
      display: flex;
    }
    [class^="col-"] {
      padding: $space*3 $space;
      color: $white;
      @include breakpoint(medium) {
        padding-left: $space*3;
        padding-right: $space*3;
      }
      &:nth-child(1) {
        background: lighten($colorPrimary, 5%);
      }
      &:nth-child(2) {
        background: lighten($colorPrimary, 7%);
      }
      &:nth-child(3) {
        background: lighten($colorPrimary, 9%);
      }
    }
    .icon {
      font-size: 2rem;
      color: $white;
    }

    .submit {
      border-radius: 5px;
      border-color: $white;
      background-color: transparent;

      &:hover, &:focus {
        color: lighten($colorPrimary, 9%);
        border-color: $white;
        background: $white;
      }
    }

    h2, a {
      color: $white;
    }
    a {
      text-decoration: underline;
    }

    ul {
      @extend %no-bullet;
    }

    form {
      label {
        font-weight: normal;
      }

      @extend %align-left;
      width: 100%;
    }
  }
}
