/* HERO
-------------------------------------------------*/
.hero {
  position: relative;
  margin-top: 70px;
  background: $colorPrimary;

  .container-fluid {
    position: relative;
  }

  .hero-content {
    background-right: no-repeat;
    background-size: cover;
    height: 500px;
  }

}


