/* 3 SHADE COLUMNS
-------------------------------------------------*/
.prices {
  @extend %space;
  background: $colorBg;

  table {
    tr {
      th, td {
        &:last-child {
          text-align:right;
        }
        /*&:nth-child(2), &:nth-child(3) {
          width: 20%;
        }
        */
        a, a:hover, a:focus {
          color: $colorContrast;
        }
      }
    }
  }

}
