/* 3 SHADE COLUMNS
-------------------------------------------------*/
.prices {
  @extend %space;
  background: $colorBg;

  table {
    tr {
      th, td {
        &:first-child {
          width: 60%;
        }
        &:nth-child(2), &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }
}
