<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h1 class="section-title">Über mich</h1>
        <div class="row">

            <div class="col-sm-8">
                <h2>Anika Werner</h2>

                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Ich bin Psychologin mit Leib und Seele und leite Entspannungskurse verschiedenster Arten an.
                    Besonders wichtig ist mir dabei die Verwendung wissenschaftlich fundierter Techniken und dass sich die Teilnehmer*innen in meinen Kursen eine Pause vom Alltag gönnen dürfen, um sich ganz um sich selbst kümmern zu können. Entspannung kann viele positive Effekte wie die Steigerung des Wohlbefindens, die Reduktion körperlicher Schmerzen und die Verbesserung der Körperwahrnehmung haben.
                        </p>
                        
                    </div>
                    <div class="col-md-6">
                        <h3>Kurzer Lebenslauf</h3>
                        <div class="media">
                            <div class="media-left">
                                <div class="boxed-icon"><i class="fa fa-sun-o icon"></i></div>
                            </div>
                            <div class="media-body">
                                seit 2020 - Zertifizierte Kursleiterin für Autogenes Training
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="boxed-icon"><i class="fa fa-sun-o icon"></i></div>
                            </div>
                            <div class="media-body">
                                seit 2019 - Gesundheitskurse für Mitarbeiter*innen an der Universität Bielefeld
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="boxed-icon"><i class="fa fa-sun-o icon"></i></div>
                            </div>
                            <div class="media-body">
                                seit 2018 - Wissenschaftliche Mitarbeiterin Universität Bielefeld (Entwicklungspsychologie- und psychopathologie) mit dem Schwerpunkt Schlaf
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="boxed-icon"><i class="fa fa-sun-o icon"></i></div>
                            </div>
                            <div class="media-body">
                                2017 - 2018 - Gesundheitsangebote im Rahmen von Rehabilitationseinrichtungen
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="boxed-icon"><i class="fa fa-sun-o icon"></i></div>
                            </div>
                            <div class="media-body">
                                2017 - M.Sc. Psychologie, Universität Bielefeld
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="boxed-icon"><i class="fa fa-sun-o icon"></i></div>
                            </div>
                            <div class="media-body">
                                2015 - B.Sc. Psychologie, TU Braunschweig
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="img/me.jpg" alt="Anika Werner">
            </div>

        </div>
    </div>
</div>
<!-- End About -->
