<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Opis oferty</h2>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-child"></i>
                    <h4>Dla dzieci</h4>
                    <div class="description">
                        <p>
                            Diagnoza logopedyczna polega na przeprowadzeniu testu logopedycznego w efekcie którego
                            możliwe
                            będzie ustalenie poziomu rozwoju mowy dziecka. Test obejmuje takie umiejętności jak:
                        <ul>
                            <li>rozumienie mowy,</li>
                            <li>zasób słownictwa,</li>
                            <li>stosowanie form gramatycznych.</li>
                        </ul>

                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-comment"></i>
                    <h4>Dla dorosłych</h4>
                    <div class="description">
                        <p>
                            Szkolę osoby dorosłe w zakresie:
                        <ul>
                            <li>poprawnej artykulacji</li>
                            <li>emisji głosu i prawidłowego oddechu</li>
                            <li>radzenia sobie ze stresem podczas wystąpień publicznych</li>
                            <li>sztuki prezentacji</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-suitcase"></i>
                    <h4>Logopedia medialna</h4>
                    <div class="description">
                        <p>
                            Logopedia medialna skierowana jest do osób, które występują publicznie, których praca wiąże
                            się z kontaktami międzyludzkimi, np: do wykładowców, dziennikarzy, polityków, prawników i
                            tych
                            wszystkich,
                            którzy mają potrzebę rozwijania swoich kompetencji i sprawności językowych i retorycznych.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Treatments -->
