<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h1 class="section-title">Opis oferty</h1>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-tv"></i>
                    <h3>Logopedia medialna</h3>
                    <div class="description"><p>
                        To dział logopedii zajmujący się szkoleniem osób w zakresie poprawnej wymowy i emisji głosu.
                        Oferta skierowana do osób, których głos i dykcja stanowią podstawę warsztatu
                        pracy związanego np. z różnego rodzaju wystąpieniami publicznymi.
                        Dotyczy przede wszystkim: nauczycieli, wykładowców,
                        dziennikarzy, prawników,
                        prezenterów, lektorów itp.
                    </p></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-user"></i>
                    <h3>Dla dorosłych</h3>
                    <div class="description">
                        <p>
                            Szkolimy osoby dorosłe w zakresie:
                        <ul>
                            <li>poprawnej artykulacji</li>
                            <li>emisji głosu i prawidłowego oddechu</li>
                            <li>radzenia sobie ze stresem podczas wystąpień publicznych</li>
                            <li>sztuki prezentacji</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-comments"></i>
                    <h3>Dla młodzieży</h3>
                    <div class="description">
                        <p>
                            Pracujemy z młodzieżą:
                        <ul>
                            <li>nad przygotowaniem do egzaminów do szkoły filmowej i teatralnej</li>
                            <li>nad interpretacją i zrozumieniem tekstów z poezji i prozy</li>
                            <li>nad autoprezentacją</li>
                            <li>z wadami wymowy</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-child"></i>
                    <h3>Dla dzieci</h3>
                    <div class="description">
                        <p>
                            Przeprowadzamy diagnozę logopedyczną, w&nbsp;efekcie której możliwe jest ustalenie poziomu
                            rozwoju mowy dziecka. Badanie obejmuje takie umiejętności jak:
                        <ul>
                            <li>rozumienie mowy</li>
                            <li>zasób słownictwa</li>
                            <li>stosowanie form gramatycznych</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-users"></i>
                    <h3>Zajęcia grupowe</h3>
                    <div class="description"><p>
                        Po przeprowadzeniu konsultacji pisany jest program autorski dostosowany do wymogów
                        zleceniodawcy. Dla zapewnienia najwyższej jakości usług grupa nie powinna liczyć
                        więcej niż 10 osób.
                    </p></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-star"></i>
                    <h3>Oferta dopasowana</h3>
                    <div class="description"><p>
                        Istnieje możliwość zamówienia szkolenia lub zajęć ze specjalnym programem, na szczególnych
                        warunkach dostosowanych do wymogów zamawiającego.
                    </p></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Treatments -->
