<!-- Start Prices -->
<div id="kurse" class="prices">
    <div class="container-fluid">
        <h1 class="section-title">Aktuelle Kurse</h1>

        <div class="row" style="overflow-x:auto;">
            <p>Bitte beachten Sie: Aufgrund der derzeitigen Maßnahmen zum Coronavirus finden alle Kurse momentan digital über einen Videostream statt.</p>
            <h2>Aktuelle Kurse</h2>
            <!-- <p><small>ceny brutto (zawierają podatek VAT 23%)</small></p> -->

            <table class="table">
                <thead>
                <tr>
                    <th>Kursname</th>
                    <th>Termine</th>
                    <th>Uhrzeit</th>
                    <th>Preis</th>
                    <th>Ort</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for kurs in site.kurse %}
                <tr>
                    <td>{{ kurs.name }}
                        {% if kurs.name-zusatz %}
                        <br />
                        <small>{{ kurs.name-zusatz}}</small> 
                        {% endif %}
                    </td>
                    <td>{{ kurs.termine }} 
                        {% if kurs.termine-zusatz %}
                            <br />
                            <small>{{ kurs.termine-zusatz }}</small> 
                        {% endif %}
                    </td>
                    <td>{{ kurs.uhrzeit }}
                        {% if kurs.uhrzeit-zusatz %}
                            <br />
                            <small>{{ kurs.uhrzeit-zusatz }}</small>
                        {% endif %}
                    </td>
                    <td>{{ kurs.preis }}
                        {% if kurs.preis-zusatz %}
                            <br />
                            <small>{{ kurs.preis-zusatz }}</small>
                        {% endif %}
                    </td>
                    <td>{{ kurs.ort }}
                        {% if kurs.ort-zusatz %}
                            <br />
                            <small>{{ kurs.ort-zusatz }}</small>
                        {% endif %}
                    </td>
                    <td><a class="submit btn btn-default" href="mailto:{{ site.contact.email }}?&subject={{ site.email-vorlage.email-titel }} {{ kurs.name }}&body={{ site.email-vorlage.anrede  }}%0D%0A{{ site.email-vorlage.starttext  }}%0D%0A%0D%0A - {{ kurs.name  }} ({{ kurs.termine }} um {{ kurs.uhrzeit  }})%0D%0A%0D%0A{{ site.email-vorlage.endtext  }}" rel="EMAIL">{{ site.email-vorlage.link-text }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
<p>Gerne können Sie auch jederzeit eine Probestunde wahrnehmen. Dafür wird eine einmalige Pauschale von 10€ veranschlagt.</p>
            <br>

            <!-- <h2>Zajęcia grupowe</h2>
            <p><small>ceny netto (nie zawierają podatku VAT 23%)</small></p> -->

            <!-- <table class="table">
                <thead>
                <tr>
                    <th>Szkolenie</th>
                    <th></th>
                    <th>Dojazd</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>8 godzin (1 dzień)</td>
                    <td></td>
                    <td>1000 PLN</td>
                </tr>
                <tr>
                    <td>24 godziny (3 dni)</td>
                    <td></td>
                    <td>2500 PLN</td>
                </tr>
                <tr>
                    <td>40 godzin (5 dni)</td>
                    <td></td>
                    <td>3500 PLN</td>
                </tr>
                </tbody>
            </table>

            <br>

            <p>W cenę wliczone są materiały dydaktyczne.</p>
            <p>Opłaty dokonuje się gotówką lub przelewem.</p>
            <p>Firma wystawia faktury VAT.</p>
            </p> -->

        </div>
    </div>
</div>
<!-- End Testimonials -->
