<!-- Start Prices -->
<div id="kurse" class="prices">
    <div class="container-fluid">
        <h1 class="section-title">Aktuelle Kurse</h1>

        <div class="row">
            <p>Bitte beachten Sie: Aufgrund der derzeitigen Maßnahmen zum Coronavirus finden alle Kurse momentan digital über einen Videostream statt.</p>
            <h2>Aktuelle Kurse</h2>
            <!-- <p><small>ceny brutto (zawierają podatek VAT 23%)</small></p> -->

            <table class="table">
                <thead>
                <tr>
                    <th>Kursname</th>
                    <th>Termine</th>
                    <th>Uhrzeit</th>
                    <th>Preis</th>
                    <th>Ort</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Meditation und Achtsamkeit</td>
                    <td>Freitags, 05.06.-07.08.2020 (Ausnahmen: 10.07. und 17.07.2020)</td>
                    <td>14-15 Uhr</td>
                    <td>110€</td>
                    <td>Online</td>
                </tr>
                <tr>
                    <td>Autogenes Training (Erstattung durch die meisten Krankenkassen)</td>
                    <td>Montags, 08.06.-27.07.2020</td>
                    <td>19:00-20.30 Uhr</td>
                    <td>110€</td>
                    <td>Online</td>
                </tr>
                </tbody>
            </table>

            <br>

            <!-- <h2>Zajęcia grupowe</h2>
            <p><small>ceny netto (nie zawierają podatku VAT 23%)</small></p> -->

            <!-- <table class="table">
                <thead>
                <tr>
                    <th>Szkolenie</th>
                    <th></th>
                    <th>Dojazd</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>8 godzin (1 dzień)</td>
                    <td></td>
                    <td>1000 PLN</td>
                </tr>
                <tr>
                    <td>24 godziny (3 dni)</td>
                    <td></td>
                    <td>2500 PLN</td>
                </tr>
                <tr>
                    <td>40 godzin (5 dni)</td>
                    <td></td>
                    <td>3500 PLN</td>
                </tr>
                </tbody>
            </table>

            <br>

            <p>W cenę wliczone są materiały dydaktyczne.</p>
            <p>Opłaty dokonuje się gotówką lub przelewem.</p>
            <p>Firma wystawia faktury VAT.</p>
            </p> -->

        </div>
    </div>
</div>
<!-- End Testimonials -->
