<!-- Start Prices -->
<div id="prices" class="prices">
    <div class="container-fluid">
        <h1 class="section-title">Cennik</h1>

        <div class="container">
            <h2>Zajęcia indywidualne</h2>
            <p><small>ceny brutto (zawierają podatek VAT 23%)</small></p>

            <table class="table">
                <thead>
                <tr>
                    <th>Usługa</th>
                    <th>Gabinet</th>
                    <th>Dojazd</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Diagnoza i plan terapii</td>
                    <td>80 PLN</td>
                    <td>100 PLN</td>
                </tr>
                <tr>
                    <td>Zajęcia, terapia 50 min</td>
                    <td>70 PLN</td>
                    <td>90 PLN</td>
                </tr>
                </tbody>
            </table>

            <br>

            <h2>Zajęcia grupowe</h2>
            <p><small>ceny netto (nie zawierają podatku VAT 23%)</small></p>

            <table class="table">
                <thead>
                <tr>
                    <th>Szkolenie</th>
                    <th></th>
                    <th>Dojazd</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>8 godzin (1 dzień)</td>
                    <td></td>
                    <td>1000 PLN</td>
                </tr>
                <tr>
                    <td>24 godziny (3 dni)</td>
                    <td></td>
                    <td>2500 PLN</td>
                </tr>
                <tr>
                    <td>40 godzin (5 dni)</td>
                    <td></td>
                    <td>3500 PLN</td>
                </tr>
                </tbody>
            </table>

            <br>

            <p>W cenę wliczone są materiały dydaktyczne.</p>
            <p>Opłaty dokonuje się gotówką lub przelewem.</p>
            <p>Firma wystawia faktury VAT.</p>
            </p>

        </div>
    </div>
</div>
<!-- End Testimonials -->
