<!-- Start Themen . Interner Name ist treatments (also nicht ändern) -->
<div id="themen" class="treatments">
    <div class="container-fluid">
        <h1 class="section-title">Kursinhalte</h1>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-heart"></i>
                    <h3>Autogenes Training</h3>
                    <div class="description"><p>
                        Im Rahmen dieses Kurses erlernen Sie durch Anleitung die Formeln des Autogenen Trainings, um diese dann auch selbstständig im Alltag weiterführen zu können. Es soll dabei ein angenehmer Entspannungszustand hervorgerufen werden. Das Autogene Training ist eine wissenschaftlich fundierte Methode und kann zur Schmerzlinderung, Entschärfung von Stresssituationen, Steigerung der Belastbarkeit sowie Verbesserung der Vorstellungskraft führen.
                        <br />
                        <br />
                        <small>Für diesen Kurs ist eine (Teil-)Kostenerstattung durch die Krankenkasse möglich.<br /></small>
                    </p></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-heart"></i>
                    <h3>Meditation und Achtsamkeit</h3>
                    <div class="description">
                        <p>
                            In diesem Kurs lernen Sie die Grundpraktiken der Achtsamkeit. Dabei wird ein besonderes Augenmerk auf das Leben im Hier und Jetzt gelegt und darauf, jegliche Erfahrungen wertfrei wahrzunehmen. Es werden verschiedene Formen der achtsamen Meditation angeleitet, sodass die Teilnehmer*innen verschiedene Ideen, auch zur eigenen Umsetzung zuhause, erhalten.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="fa icon fa-heart"></i>
                    <h3>Fantasiereisen</h3>
                    <div class="description">
                        <p>
                            In diesem Kurs werden Fantasiereisen mit verschiedensten Themen (z.B. Wald-spaziergang, Ort der Ruhe etc.) angeleitet und die Erfahrungen in der Gruppe nachbesprochen. Die Vorstellung unterschiedlicher Bilder vor dem geistigen Auge kann hierbei helfen, Körper und Seele in Entspannung zu versetzen und dem Stress im Alltag entfliehen zu können. Auch die Vorstellungskraft wird durch Fantsatiereisen gefördert.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- End Treatments -->
