/* FOOTER
-------------------------------------------------*/
.main-footer {
    padding: 30px 0;
    color: $white;
    background: $colorContrast;
    text-align: center;
    small {
        display: block;
    }
}
