<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">

<!--[if lt IE 10]>
<p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to
    better experience this site.</p>
<![endif]-->

{% include header.html %}

{% include hero.html %}

{% include offer.html %}

{% include about.html %}

{% include prices.html %}

{% include contact.html %}

{% include map.html %}

{% include footer.html %}

{% include analytics.html %}

<script src="dist/main.bundle.js"></script>
</body>
</html>
