<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">

<!--[if lt IE 10]>
<p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to
    better experience this site.</p>
<![endif]-->

{% include hero.html %}

{% include header_impressum.html %}

{% include impressum.html %}

{% include footer.html %}

<!-- {% include analytics.html %} -->

<script src="dist/main.bundle.js"></script>
</body>
</html>
